// {{.ServiceClientName}}.h
#pragma once

#if not defined(JUMPINJACK_API)
#define JUMPINJACK_API
#endif

#include "CoreMinimal.h"
#include "{{.Layer}}/ServiceClientHelper.h"

#include "{{.ServiceClientName}}.generated.h"

USTRUCT()
struct JUMPINJACK_API F{{.ServiceClientName}} // : public FServiceClient
{
    GENERATED_BODY()
{{range .Endpoints}}
    UPROPERTY(Category = "Online")
    void {{.Name}}({{range .QueryParameters}}const {{.Type}}& {{.Name}}, {{end}}{{if .QueryBodyType}}const {{.QueryBodyType}}& requestBody, {{end}}TResponseDelegate<FRestResponseInfo{{if .ResponseBodyType}},{{.ResponseBodyType}}{{end}}> callback)
{{end}}
};

