#include "{{.Layer}}/ServiceClientHelper.h"

#include "Runtime/Online/HTTP/Public/HttpModule.h"
//#include "Interfaces/IHttpRequest.h"
//#include "Interfaces/IHttpResponse.h"
#include "Runtime/Online/HTTP/Public/Interfaces/IHttpRequest.h"
#include "Runtime/Online/HTTP/Public/Interfaces/IHttpResponse.h"

TSharedRef<IHttpRequest> FServiceClientHelper::MakeRequestFromString(const FString& verb, const FString& url, const TMap<FString, FString>& headers, const FString* body)
{
	TSharedRef<IHttpRequest> HttpRequest = FHttpModule::Get().CreateRequest();

	HttpRequest->SetVerb(*verb);
	HttpRequest->SetHeader("Content-Type", "application/json");
	HttpRequest->SetURL(*url);

	if (body != nullptr)
	    HttpRequest->SetContentAsString(*body);

	return HttpRequest;
}

void FServiceClientHelper::HandleResponseInfo(FHttpResponsePtr httpResponse, FServiceClientResponseInfo& info)
{
	info.StatusCode = httpResponse ? httpResponse->GetResponseCode() : 0;
}