#pragma once

#if not defined(JUMPINJACK_API)
#define JUMPINJACK_API
#endif

#include "CoreMinimal.h"
#include "JsonObjectConverter.h"
//#include "HttpModule.h"
//#include "Interfaces/IHttpRequest.h"
//#include "Interfaces/IHttpResponse.h"
#include "Runtime/Online/HTTP/Public/Interfaces/IHttpRequest.h"
#include "Runtime/Online/HTTP/Public/Interfaces/IHttpResponse.h"
#include "Async/Async.h"

#include "{{.Layer}}/ServiceClientModels.h"

//using TServiceClientResponseDelegate = TDelegate<void(const FServiceClientResponseInfo&)>;
//template <class TResponse>
//using TServiceClientResponseDelegate = TDelegate<void(const FServiceClientResponseInfo&, const TResponse&)>;

struct FServiceClientHelper
{
    template <class TResponse>
    static ServiceClientRequestWeakPtr Send(const FString& verb, const FString& url, TDelegate<void(const FServiceClientResponseInfo&, const TResponse&)> callback)
    {
        TMap<FString, FString> headers;

        TSharedRef<IHttpRequest, ESPMode::ThreadSafe> httpRequest = MakeRequestFromString(verb, url, headers, nullptr);

        TFunction<void(FHttpRequestPtr, FHttpResponsePtr, bool)> completionCallback =
            [callback](FHttpRequestPtr req, FHttpResponsePtr resp, bool successful) {
                FServiceClientResponseInfo info;
                TResponse response;
                HandleResponseInfo(resp, info);
                HandleResponseBody<TResponse>(resp, response);
                callback.ExecuteIfBound(info, response);
            };
        httpRequest->OnProcessRequestComplete().BindLambda(completionCallback);

        //JUMPINJACK_LOG_HTTP("Query [%s] %s", *verb, *url);
        //JUMPINJACK_LOG_HTTP("Query body: %s", *jsonBody);

        if (!httpRequest->ProcessRequest())
        {
            FServiceClientResponseInfo info;
            TResponse response;
            callback.ExecuteIfBound(info, response);
        }
        return httpRequest;
    }

    template <class TRequest>
    static ServiceClientRequestWeakPtr Send(const FString& verb, const FString& url, const TRequest& request, TDelegate<void(const FServiceClientResponseInfo&)> callback)
    {
        TMap<FString, FString> headers;

        TSharedRef<IHttpRequest, ESPMode::ThreadSafe> httpRequest = MakeRequest<TRequest>(verb, url, headers, request);

        TFunction<void(FHttpRequestPtr, FHttpResponsePtr, bool)> completionCallback =
            [callback](FHttpRequestPtr req, FHttpResponsePtr resp, bool successful) {
                FServiceClientResponseInfo info;
                HandleResponseInfo(resp, info);
                callback.ExecuteIfBound(info);
            };
        httpRequest->OnProcessRequestComplete().BindLambda(completionCallback);

        //JUMPINJACK_LOG_HTTP("Query [%s] %s", *verb, *url);
        //JUMPINJACK_LOG_HTTP("Query body: %s", *jsonBody);

        if (!httpRequest->ProcessRequest())
        {
            FServiceClientResponseInfo info;
            callback.ExecuteIfBound(info);
        }
        return httpRequest;
    }

    template <class TRequest, class TResponse>
    static ServiceClientRequestWeakPtr Send(const FString& verb, const FString& url, const TRequest& request, TDelegate<void(const FServiceClientResponseInfo&, const TResponse&)> callback)
    {
        TMap<FString, FString> headers;

        TSharedRef<IHttpRequest, ESPMode::ThreadSafe> httpRequest = MakeRequest<TRequest>(verb, url, headers, request);

        TFunction<void(FHttpRequestPtr, FHttpResponsePtr, bool)> completionCallback =
            [callback](FHttpRequestPtr req, FHttpResponsePtr resp, bool successful) {
                FServiceClientResponseInfo info;
                TResponse response;
                HandleResponseInfo(resp, info);
                HandleResponseBody<TResponse>(resp, response);
                callback.ExecuteIfBound(info, response);
            };
        httpRequest->OnProcessRequestComplete().BindLambda(completionCallback);

        //JUMPINJACK_LOG_HTTP("Query [%s] %s", *verb, *url);
        //JUMPINJACK_LOG_HTTP("Query body: %s", *jsonBody);

        if (!httpRequest->ProcessRequest())
        {
            FServiceClientResponseInfo info;
            TResponse response;
            callback.ExecuteIfBound(info, response);
        }
        return httpRequest;
    }

private:
    template<class TRequest>
	static ServiceClientRequestSharedRef MakeRequest(const FString& verb, const FString& url, const TMap<FString, FString>& headers, const TRequest& request);

	static ServiceClientRequestSharedRef MakeRequestFromString(const FString& verb, const FString& url, const TMap<FString, FString>& headers, const FString* body);

	static void HandleResponseInfo(FHttpResponsePtr Response, FServiceClientResponseInfo& info);
	template<class TResponse>
	static void HandleResponseBody(FHttpResponsePtr Response,  TResponse& result);

	//static int32 JIJ_API RequestIndex;
};

//---------------------------------------------------------------------------------------------------------------------

template<class TRequest>
ServiceClientRequestSharedRef FServiceClientHelper::MakeRequest(const FString& verb, const FString& url, const TMap<FString, FString>& headers, const TRequest& request)
{
    FString jsonBody;
    FJsonObjectConverter::UStructToJsonObjectString(TRequest::StaticStruct(), &request, jsonBody);
    return MakeRequestFromString(verb, url, headers, &jsonBody);
}

template<class TResponse>
void FServiceClientHelper::HandleResponseBody(FHttpResponsePtr httpResponse, TResponse& response)
{
    if (!httpResponse.IsValid())
        return;

    if (httpResponse->GetResponseCode() >= 400)
        return;

    FString responseContentType = httpResponse ? httpResponse->GetContentType() : FString();
    if (!responseContentType.StartsWith("application/json"))
        return;

    FString responseBody = httpResponse->GetContentAsString();
    if (responseBody.Len() <= 0)
        return;

    FJsonObjectConverter::JsonObjectStringToUStruct(responseBody, &response, 0, 0);
}
