// {{.ServiceClientName}}.h
#pragma once

#if not defined(JUMPINJACK_API)
#define JUMPINJACK_API
#endif

#include "CoreMinimal.h"
#include "{{.Layer}}/ServiceClientHelper.h"

#include "{{.ServiceClientName}}.generated.h"
{{range .ExternalTypes}}
struct {{.UnrealType}};{{end}}

USTRUCT()
struct JUMPINJACK_API F{{.ServiceClientName}}
{
    GENERATED_BODY()
{{range .Endpoints}}
    void {{.Name}}({{range .QueryParameters}}const {{.TypeInfo.UnrealType}}& {{.Name}}, {{end}}{{if .QueryBodyType.UnrealType}}const {{.QueryBodyType.UnrealType}}& requestBody, {{end}} TDelegate<void(const FServiceClientResponseInfo&{{if .ResponseBodyType.UnrealType}}, const {{.ResponseBodyType.UnrealType}}&{{end}})> callback);
{{end}}
    FString ServiceUrl;
};

