// {{.Name}}.h
#pragma once

#include "CoreMinimal.h"
#include "JsonObjectWrapper.h"

{{range .ExternalTypes}}
{{if .IsTemplate}}#include "{{.Layer}}/{{.TemplateParamTypeName}}.h"{{else}}#include "{{.Layer}}/{{.TypeName}}.h"{{end}}
{{end}}

{{if .IsAlias}}
typedef {{.AliasTypeInfo.UnrealType}} F{{.Name}};

{{else}}
#include "{{.Name}}.generated.h"

USTRUCT(BlueprintType)
struct F{{.Name}}
{
    GENERATED_BODY()
{{range .Fields}}
    UPROPERTY(EditAnywhere, BlueprintReadWrite, Category = "Online")
    {{.TypeInfo.UnrealType}} {{.Name}};
{{end}}
};

{{end}}
